* {
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #8B969D;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D3844;
    height: 5vh;
}

.navigation {
    display: flex;
    padding: 0 1rem;
    list-style-type: none;
}

.navItem a {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 40px;
    text-decoration: none;
}

.navItem a:hover {
    cursor: pointer;
    background-color: #546980;
}

main {
    background-color: #1B1F23;
    margin: 0 25vw;
}

body {
    background-color: #101214;

}

.logoDiv {
    height: 8vh;
    width: 20vw;
    padding: 1rem;
}

.logo {
    width: 10vw;
}

.content {
    display: flex;
    height: 175vh;
}

.ranking {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 15vw;

    padding: 0 0.8rem;
}

.ranking p {
    color: #5F6F73;
    font-weight: bold;
    font-size: 0.7rem;
}

.rankingList {
    list-style-position: inside;
    background-color: #22272F;


}


.rankingList li {
    font-size: 0.8rem;
    border-bottom: solid darkgray 1px;
    padding: .5rem;
}

.rankingList ul {
    list-style-type: none;
}

.rankingList li:hover {
    cursor: pointer;
    background-color: #546980;
}

.bigPicture {
    width: 25vw;
}

.tournamentPicture {
    width: 25vw;
}

.articleDiv {
    background-color: #2D3844;
    border-bottom: solid darkgray 1px;
    padding: .5rem;
    display: flex;
    gap: 1rem;
    place-items: center;
}

.articleDiv h3 {
    color: #84A1BE;
}

.articleDiv img {
    width: 1.2vw;
    height: 2vh;
}

.articleDiv:hover {
    cursor: pointer;
    background-color: #546980;
}

.matches {
    width: 13vw;
    padding: 0 0.8rem;
}

.matchesText {
    padding: .3rem 0 .3rem .3rem;
    color: #bFcFd3;
    background-color: #435971;
    font-weight: 800;
    font-size: 0.7rem;
}

.matchup {
    background-color: #2D3844;
    border-bottom: solid darkgray 1px;
    padding: .3rem;

}

.matchup:hover {
    cursor: pointer;
    background-color: #546980;
}

.matchupTeam {
    display: flex;
    justify-content: space-between;
    color: #84A1BE;
    font-size: .8rem;
}
.matchupTeamWinner {
    color: #0AC013;
    font-size: .8rem;
}

.matchupTeamLoser {
    color: #FC1D28;
    font-size: .8rem;
}

.activity {
    width: 15vw;
    margin-right: .6vw;
}

.activityTitle {
    color: #5F6F73;
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 1vh;
}

.forumPostsYellow, .forumPostsGreen, .forumPostsRed {
    background-color: #2D3844;
    border-bottom: solid darkgray 1px;
    padding: .3rem;
    display: flex;
    justify-content: space-between;
}

.forumPostsYellow:hover, .forumPostsGreen:hover, .forumPostsRed:hover{
    cursor: pointer;
    background-color: #546980;
}

.forumPostsYellow {
    border-left: solid yellow 2px;
}

.forumPostsGreen {
    border-left: solid forestgreen 2px;
}
.forumPostsRed {
    border-left: solid crimson  2px;
}

.forumPostsYellow p, .forumPostsRed p, .forumPostsGreen p {
    color: #84A1BE;
    font-size: .8rem;
}

